<section class="products-show">
  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>
  <article class="product-detail">
    <div class="row">
      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>
      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
        <div class="col-sm-8">
        <dl class="dl-horizontal">
         <% @reviews.order(created_at: :desc).each do |review| %>
          <dt>User Rating</dt>
          <dd><%= review.rating %></dd>
          <dt>Description</dt>
          <dd><%= review.description %></dd>
          <br>
           <% if current_user == review.user %>
          <dt> Delete your review </dt>
          <dd>
            <%= link_to fa_icon('trash'), [@product, review], class: 'btn btn-sm btn-danger', method: :delete %>
          </dd>
            <br>
          <% end %>
        <% end %>
        </dl>
      </div>

      <% if current_user %>
      <div class="col-sm-8">
      <dl class="dl-horizontal">
        <%= form_for [@product, @review] do |form| %>
          <div class="form-group">
            <%= form.text_area :description %>
            <%= form.select :rating, options_for_select(["5", "4", "3", "2", "1"]) %>
          </div>
          <%= form.submit 'Submit rating' %>
        <% end %>
      </dl>
      </div>
      <% end %>
      </div>
    </div>
  </article>
</section>